@charset "UTF-8";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
/*#FFFFFF;*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

/*iphone/ipad*/
header {
  position: fixed;
  width: 100%;
}
header .logo {
  width: 6%;
  margin-left: 4%;
  margin-top: 2%;
  height: auto;
  z-index: -2;
}
header body img {
  height: auto;
  width: 100%;
}
header .navdesktop {
  display: none;
}
header label {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  /*selve burger ikonet*/
  float: right;
  margin-right: -1.4%;
  color: gray;
  /*farven på burger ikonet*/
}
header input {
  display: none;
}
header input:checked + nav {
  left: 0px;
}
header nav {
  width: 300px;
  position: fixed;
  left: -500px;
  top: 0;
  color: #fff;
  background-color: rgba(192, 192, 192, 0.9);
  height: 700px;
}
header nav a {
  font-family: times;
  float: none;
  height: 45px;
  color: black;
  border-bottom: 1px solid white;
  display: block;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 25px;
  text-transform: uppercase;
  -webkit-transition-duration: .10s;
          transition-duration: .10s;
}
header nav a:hover {
  background-color: white;
  color: grey;
  margin-top: 25px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Start mobilversion forside */
.slideshow-container {
  max-width: 1000px;
  margin: auto;
  z-index: -5%;
}

.mySlides {
  display: none;
}

#dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
h1 {
  background-image: url("../img/background9.png");
  padding: 20px 20px;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  vertical-align: middle;
  font-weight: lighter;
  font-family: 'Alegreya Sans', sans-serif;
  margin-top: -1%;
}

.picturefrontdown {
  width: 100%;
}

/* Start mobilversion atelier 1B */
body {
  background-image: url("../img/background9.png");
}

.atelierdiv {
  position: relative;
  display: block;
  z-index: -2;
  padding-top: 13%;
}
.atelierdiv .atelierbilledediv {
  width: 375px;
  height: auto;
  z-index: -2;
}
.atelierdiv p {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 40px 10px;
  text-align: center;
  font-size: 13px;
  vertical-align: middle;
  font-family: 'Cormorant Garamond', serif;
  position: absolute;
  width: 80%;
  margin-top: -59%;
  margin-left: 10%;
}

h3 {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 35px 20px;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  font-weight: bold;
  margin-top: -1.2%;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
}

/* Start footer */
.footer, .footerfrontpage {
  height: 150px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../img/background2.png");
  position: absolute;
  margin-top: -1.2%;
}
.footer a, .footerfrontpage a {
  float: right;
  margin-top: 13%;
  margin-right: 7%;
}
.footer a i.fa-facebook-square, .footerfrontpage a i.fa-facebook-square {
  height: auto;
  font-size: 40px;
  color: white;
}
.footer section, .footerfrontpage section {
  float: left;
  margin-left: 7%;
  margin-top: 10%;
}
.footer section li, .footerfrontpage section li {
  font-size: 12px;
  list-style: none;
  color: black;
  font-family: 'Cormorant Garamond', serif;
}
.footer p, .footerfrontpage p {
  font-size: 10px;
  color: black;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  margin-top: 9%;
  margin-right: 32%;
  float: right;
  color: black;
}

@media screen and (max-width: 992px) {
  .image, .image2, .image3 {
    display: none;
  }

  form {
    display: none;
  }

  .frontpagebig {
    display: none;
  }

  .frontpageimages {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .fa-bars {
    font-size: 30px;
    margin-top: 25px;
    margin-left: -70%;
  }

  /* Start forside ipad */
  #dots {
    position: absolute;
    top: 128%;
    width: 100%;
  }

  .dot {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: .4;
    }
    to {
      opacity: 1;
    }
  }
  h3 {
    font-size: 22px;
    margin-top: -1%;
    padding-bottom: 8%;
    padding-top: 8%;
    padding-left: 7%;
    padding-right: 7%;
    font-family: 'Raleway', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
  }

  /* Start atelier 1b ipad */
  .atelierdiv {
    position: relative;
    display: block;
    z-index: -2;
    padding-top: 11%;
  }
  .atelierdiv .atelierbilledediv {
    width: 100%;
    height: auto;
    z-index: -2;
  }
  .atelierdiv p {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 70px 50px;
    text-align: center;
    font-size: 23px;
    vertical-align: middle;
    font-family: 'Cormorant Garamond', serif;
    position: absolute;
    width: 80%;
    margin-top: -56%;
    margin-left: 10%;
    line-height: 35px;
  }

  .atelierbillede2 {
    width: 100%;
  }

  .atelierbillede3 {
    width: 100%;
  }

  /* Start footer */
  .footer, .footerfrontpage {
    height: 280px;
  }
  .footer a i, .footerfrontpage a i {
    margin-right: -6%;
  }
  .footer a i.fa-facebook-square, .footerfrontpage a i.fa-facebook-square {
    font-size: 75px;
  }
  .footer section, .footerfrontpage section {
    float: left;
    margin-right: 2%;
    margin-top: 10%;
  }
  .footer section li, .footerfrontpage section li {
    font-size: 23px;
    list-style: none;
    color: black;
    font-family: 'Cormorant Garamond', serif;
  }
  .footer p, .footerfrontpage p {
    font-size: 18px;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    margin-top: 6%;
    margin-right: 35%;
    float: right;
    color: black;
  }
}
@media screen and (min-width: 992px) {
  header {
    position: fixed;
    width: 100%;
  }
  header nav {
    display: none;
  }
  header .navdesktop {
    display: block;
  }
  header .logo {
    display: none;
  }
  header input, header label {
    display: none;
  }
  header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(240, 240, 240, 0.8);
    width: 100%;
    height: 70px;
    display: block;
  }
  header ul img {
    width: 10%;
    height: auto;
    margin-left: 5%;
  }
  header ul .fp {
    float: left;
    margin-left: 75px;
  }
  header ul li {
    float: right;
    display: block;
    margin-right: 75px;
  }
  header ul li a {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
  }
  header ul li a, header ul li .dropbtn {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    /*Når man rører tekst i menubar*/
  }
  header ul li a:hover, header ul li a .dropdown:hover .dropbtn, header ul li .dropbtn:hover, header ul li .dropbtn .dropdown:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.5);
  }
  header ul li.dropdown {
    display: inline-block;
  }
  header ul li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: 0.5%;
    z-index: 1;
  }
  header ul li.dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  header ul li.dropdown .dropdown-content a:hover, header ul li.dropdown .dropdown-content a .dropdown-content {
    background-color: #f1f1f1;
  }
  header ul .dropdown:hover .dropdown-content {
    display: block;
  }

  .picturefrontdown {
    display: none;
  }

  .slideshow-container {
    display: none;
  }

  /* Start forside desktop */
  .frontpagebig {
    width: 100%;
    margin-bottom: -2%;
    margin-top: -0.1%;
  }

  h3 {
    font-size: 21px;
    padding-top: 8%;
    padding-bottom: 5%;
    font-family: 'Cormorant Garamond', serif;
    background-color: #F1F2FF;
    font-style: normal;
  }

  .dot {
    display: none;
  }

  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section .image {
    position: relative;
    display: block;
    padding-bottom: 3%;
    width: 33.3%;
    z-index: -2;
  }
  section .image .frontpageimage1 {
    width: 100%;
    height: auto;
    margin-bottom: 2%;
    z-index: -2;
  }
  section .image h2 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 70px 40px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    vertical-align: middle;
    font-family: 'Cormorant Garamond', serif;
    position: absolute;
    margin-top: -59%;
    font-weight: normal;
  }
  section .image2 {
    position: relative;
    display: block;
    padding-bottom: 3%;
    width: 33.3%;
    z-index: -2;
  }
  section .image2 .frontpageimage2 {
    width: 100%;
    height: auto;
    margin-bottom: 2%;
    z-index: -2;
  }
  section .image2 h2 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 70px 40px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    vertical-align: middle;
    font-family: 'Cormorant Garamond', serif;
    position: absolute;
    margin-top: -59%;
    font-weight: normal;
  }
  section .image3 {
    position: relative;
    display: block;
    padding-bottom: 3%;
    width: 33.3%;
    z-index: -2;
  }
  section .image3 .frontpageimage3 {
    width: 100%;
    height: auto;
    margin-bottom: 2%;
    z-index: -2;
  }
  section .image3 h2 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 70px 40px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
    vertical-align: middle;
    font-weight: lighter;
    font-family: 'Cormorant Garamond', serif;
    position: absolute;
    margin-top: -59%;
    font-weight: normal;
  }

  .box {
    background-color: #F1F2FF;
    margin-top: -3%;
    margin-bottom: -1%;
    width: 100%;
    height: 80px;
  }

  /* Atelier 1b desktop */
  body {
    background-image: url("../img/background9.png");
  }

  .atelierdiv {
    position: relative;
    display: block;
    z-index: -2;
    padding-top: 0%;
  }
  .atelierdiv .atelierbilledediv {
    width: 100%;
    height: auto;
    z-index: -2;
    margin-bottom: -2%;
  }
  .atelierdiv p {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 150px 80px;
    text-align: center;
    font-size: 23px;
    vertical-align: middle;
    font-family: 'Cormorant Garamond', serif;
    position: absolute;
    width: 45%;
    margin-top: -54%;
    margin-left: 10%;
    line-height: 35px;
    margin-left: 50%;
  }

  h3 {
    font-size: 23px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 1.5%;
    font-family: 'Cormorant Garamond', serif;
    background-image: url("../img/background2.png");
    background-size: cover;
  }

  .atelierbillede2 {
    height: auto;
    width: 50%;
    float: left;
  }

  .atelierbillede3 {
    width: 50%;
    height: auto;
    float: right;
  }

  /* footer forside*/
  .footerfrontpage {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../img/hihi.jpeg");
    background-attachment: fixed;
    background-size: cover;
    bottom: 0;
    left: 0;
    right: 0;
    top: 184%;
    height: 325px;
    width: 100%;
    position: absolute;
  }
  .footerfrontpage a {
    float: left;
    margin-left: 11.5%;
    margin-top: 6%;
    margin-bottom: -1%;
  }
  .footerfrontpage a i.fa-facebook-square {
    width: 20px;
    height: auto;
    font-size: 60px;
  }
  .footerfrontpage section {
    color: white;
    margin-left: 2%;
    display: block;
    margin-top: 11.5%;
  }
  .footerfrontpage section li {
    font-size: 22px;
    list-style: none;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    text-align: center;
    margin-left: -127%;
  }
  .footerfrontpage section h5 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 15px;
    color: white;
  }
  .footerfrontpage section h6 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 1%;
  }
  .footerfrontpage section form {
    margin-top: -25%;
    margin-left: 16%;
  }
  .footerfrontpage section form .søgefelt1 {
    width: 780px;
    height: 25px;
  }
  .footerfrontpage p {
    margin-right: 45%;
    margin-top: 2.5%;
    font-size: 16px;
    color: white;
  }

  /*Footer atelier 1b*/
  .footer {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../img/hihi.jpeg");
    background-attachment: fixed;
    background-size: cover;
    bottom: 0;
    left: 0;
    right: 0;
    height: 325px;
    width: 100%;
    margin-top: 29.5%;
    position: inherit;
  }
  .footer a {
    float: right;
    margin-left: 40%;
    margin-top: 10%;
    font-size: 50px;
  }
  .footer a i.fa-facebook-square {
    margin-top: 2%;
  }
  .footer section {
    color: white;
    margin-left: 6%;
    display: block;
    margin-top: 9%;
  }
  .footer section li {
    font-size: 25px;
    list-style: none;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    text-align: left;
  }
  .footer p {
    margin-right: 45%;
    margin-top: 7.7%;
    font-size: 16px;
    color: white;
  }
}
