@import "_mixins";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "variables";



* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

img {

width: 100%;
height: auto;
}

/*iphone/ipad*/
header {
  position: fixed;
  width: 100%;

  body {
    background-color: red;

    img {
  height: auto;
  width: 100%;
}
  }

.navdesktop {
  display: none;
}

  label{
 @include icon(transparent);
color:gray;
margin-left: 88%;
}

input{
 display:none;
}

input:checked + nav{
left:0px;
}


 nav{
 width:300px;
 position:fixed;
 left:-500px;
 top:0;
 color: #fff;
 background-color: rgba(192,192,192,0.9);
 height: 700px;

 a{
   font-family: times;
   float:none;
   height:45px;
   color: black;
   border-bottom:1px solid white;
   display: block;
   text-decoration: none;
   margin-left: 20px;
   margin-top: 25px;
   text-transform:uppercase;
   transition-duration:.10s;



   &:hover{
     background-color: white;
     color: grey;
     margin-top: 25px;

}
}
}
}

* {
  box-sizing:border-box}

.slideshow-container {
  max-width: 1000px;
  margin: auto;
  z-index: -5%;
}

.mySlides {
    display: none;
}

#dots{
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

  h1 {
    background-image: url('../img/background9.png');
    padding: 20px 20px;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    vertical-align: middle;
    font-weight: lighter;
    font-family: 'Alegreya Sans', sans-serif;
    margin-top: -1%;
  }


  .picturefrontdown {
    width: 100%;
  }

footer {
  height: 150px;
  width: 100%;
  margin-top: -1%;
  background-color: grey;
  background-image: url('../img/background2.png');
  background-attachment: fixed;
  background-size: cover;
  bottom:0;
  left:0;
  right:0;


a {
  float: right;
  margin-right: 8%;



    i {
      margin-top: 30%;

&.fa-facebook-square {
  height: auto;
  font-size: 40px;
  color: white;
  margin-top: 125%;
 }
}
}

section {
  float: left;
  margin-left: 49%;
  margin-top: -12%;


  li {
   font-size: 12px;
   list-style: none;
   margin-left: -120%;
   color: black;
   font-family: 'Cormorant Garamond', serif;;
  }
 }

p {
  font-size: 10px;
  color: black;
  font-family: 'Cormorant Garamond', serif;;
  font-weight: bold;
  margin-top: 8%;
  margin-right: 32%;
  float: right;
  color: black;
 }
}

  @media screen and (max-width: 992px) {
    .image, .image2, .image3 {
      display: none;
    }

    form {
      display: none;
    }

    .frontpagebig {
      display: none;
    }

    .frontpageimages {
      display: none;
    }
}

@media screen and (min-width: 768px) {

  .fa-bars {
    font-size: 30px;
    margin-left: 70%;
    margin-top: 30px;
}

#dots{
  position: absolute;
  top: 128%;
  width: 100%;
}

.dot {
  cursor:pointer;
  height: 30px;
  width: 30px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h1 {
  font-size: 25px;
  padding-top: 10%;
  padding-bottom: 10%;
}

footer {
  height: 280px;

a {

i {
  margin-right: -6%;

  &.fa-facebook-square {
  font-size: 75px;
  margin-top: 150%;

}
}
}
  section {
    float: left;
    margin-left: 45%;
    margin-top: 10%;

    li {
     font-size: 23px;
     list-style: none;
     color: black;
     font-family: 'Cormorant Garamond', serif;;
    }
   }

  p {
    font-size: 18px;
    color: black;
    font-family: 'Cormorant Garamond', serif;;
    font-weight: bold;
    margin-top: 6%;
    margin-right: 35%;
    float: right;
    color: black;
   }
  }
}

@media screen and (min-width: 992px){

  header {
  position: fixed;
  width: 100%;

  nav {
    display: none;
  }

  .navdesktop {

display: block;
}

  input, label {
display: none;
}


ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background: rgba(240,240,240,0.8);
width: 100%;
height: 70px;
display: block;


img {
  width: 10%;
  height: auto;
  margin-left: 10%;
}

.fp {
  float: left;
  margin-left: 75px;
}


  li{
    float: right;
    display: block;
    margin-right: 75px;

  a  {

  font-family: 'Cormorant Garamond', serif;;
    font-size: 20px;

    }



    a, .dropbtn {
      display: inline-block;
      color: $secoundaryColor;
      text-align: center;
      padding: 25px 16px;
      text-decoration: none;


      /*Når man rører tekst i menubar*/
      &:hover, .dropdown:hover .dropbtn {

      background-color: rgba(255,255,255,0.5);

    }
  }
}

      li.dropdown {
        display: inline-block;


        .dropdown-content {
          display: none;
          position: absolute;
          background-color: rgba(255,255,255,0.8);
          margin-right: 0.5%;
          z-index: 1;

          a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;

            &:hover, .dropdown-content {
              background-color: #f1f1f1
            }
          }
        }
      }

              .dropdown:hover .dropdown-content {
                  display: block;
              }
            }
          }


          .picturefrontdown {
            display: none;


          }

          .slideshow-container {
            display: none;
          }

.frontpagebig {
width: 100%;
margin-bottom: -2%;
margin-top: -0.1%;

}
    h1 {
      font-size: 21px;
      padding-top: 8%;
      padding-bottom: 5%;
      font-family: 'Dosis', sans-serif;
      background-color: #F1F2FF;
      font-style: normal;
    }


            .dot {
              display: none;
            }


section {
  display: flex;

.image {
position: relative;
display: block;
padding-bottom: 3%;
width: 33.3%;
z-index: -2;

    .frontpageimage1 {
      width: 100%;
      height: auto;
      margin-bottom: 2%;
      z-index: -2;
  }

          h2 {
            background-color: rgba(255,255,255, 0.5);
            padding: 70px 20px;
            text-align: center;
            font-style: italic;
            font-size: 20px;
            vertical-align: middle;
            font-weight: lighter;
            font-family: 'Dosis', sans-serif;
            position: absolute;
            margin-top: -103%;
 }
}

.image2 {
  position: relative;
  display: block;
  padding-bottom: 3%;
  width: 33.3%;
  z-index: -2;

         .frontpageimage2 {
           width: 100%;
           height: auto;
           margin-bottom: 2%;
           z-index: -2;
           }

                    h2 {
                     background-color: rgba(255,255,255, 0.5);
                     padding: 70px 20px;
                     text-align: center;
                     font-style: italic;
                     font-size: 20px;
                     vertical-align: middle;
                     font-weight: lighter;
                     font-family: 'Dosis', sans-serif;
                     position: absolute;
                     margin-top: -103%;
 }
}

.image3 {
position: relative;
display: block;
padding-bottom: 3%;
width: 33.3%;
z-index: -2;

       .frontpageimage3 {
         width: 100%;
         height: auto;
         margin-bottom: 2%;
         z-index: -2;
         }

         h2 {
          background-color: rgba(255,255,255, 0.5);
          padding: 70px 45px;
          text-align: center;
          font-style: italic;
          font-size: 20px;
          vertical-align: middle;
          font-weight: lighter;
          font-family: 'Dosis', sans-serif;
          position: absolute;
          margin-top: -103%;
   }
  }
 }

.box {
  background-color: #F1F2FF;
  margin-top: -3%;
  margin-bottom: -1%;
  width: 100%;
  height: 80px;
}

footer {
   background-color: rgba(0,0,0,0.5);
   background-image: url('../img/hihi.jpeg');
   background-attachment: fixed;
   background-size: cover;
   bottom:0;
   left:0;
   right:0;
   height: 325px;
   width: 100%;
   margin-top: -4.2%;

   a {
     float: left;
     margin-left: 14.5%;
     margin-top: 4.5%;
     margin-bottom: -1%;

            i {

              &.fa-facebook-square {
                width: 20px;
                height: auto;
                font-size: 60px;
    }
  }
}

          section {
            color: white;
            margin-top: 12%;
            margin-left: 16.5%;
            display: block;


            li {
              font-size: 22px;
              list-style: none;
              font-family: 'Cormorant Garamond', serif;;
              color: white;
              text-align: center;
              padding-right: 100px;
              margin-right: 400px;
          }

h5 {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 15px;
  color: white;
}

  h6 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 1%;
}

form {
    margin-top: -30%;
    margin-left: -10%;

            .søgefelt1 {
              width: 750px;
              height: 25px;
      }
    }
  }

          p {
            margin-right: 45%;
            margin-top: 2.5%;
            font-size: 16px;
            color: white;
          }
        }
      }
